<h1 dir=rtl align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
خوشه‌بندی رفتار مشتریان</font>
</h1>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
فرض کنید شما تحلیل‌گر داده یک فروشگاه آنلاین هستید. دیتاستی در اختیار دارید که اطلاعات مربوط به سفارشات مشتریان را در آن ثبت کرده‌اید. با استفاده از روش‌های خوشه‌بندی، مشتریان را بر اساس رفتار خریدشان خوشه‌بندی کنید.
</font>
</p>

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
    در پوشه این تمربن یک فایل با نام <code>orders.csv</code> قرار دارد.
    مجموعه‌داده‌ی این سوال شامل ۲۰۰٬۰۰۰ سطر و ۷ ستون است و
    توضیحات مربوط به ستون‌ها به شرح زیر است:
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>

| ستون | توضیح |
|:------:|:-------:|
| `ID_Order` | شناسه یکتای هر سفارش است. هر ردیف جدول نماینده یک سفارش خاص است. |
| `ID_Customer` | شناسه یکتای مشتری است که سفارش را ثبت کرده است. ممکن است یک مشتری چند سفارش داشته باشد. |
| `ID_Item` | شناسه یکتای آیتم یا محصول سفارش‌داده‌شده. در واقع مشخص می‌کند چه محصولی در سفارش آمده است. |
| `DateTime_CartFinalize` | زمان نهایی‌سازی سبد خرید است، یعنی لحظه‌ای که سفارش نهایی شده. این ستون برای استخراج اطلاعات زمانی (مثلاً فصل خرید، ساعت روز، روز هفته) می‌تواند کاربردی باشد. |
| `Amount_Gross_Order` | مبلغ ناخالص سفارش به تومان یا هر واحد پولی دیگر. شامل کل هزینه سفارش (شاید بدون تخفیف یا مالیات). |
| `city_name_fa` | نام فارسی شهری که سفارش از آن ثبت شده. |
| `Quantity_item` | تعداد آیتم سفارش‌داده‌شده از آن محصول در سفارش. |

</font>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
    در ابتدا نیاز است فایل مجموعه‌داده را بخوانید.  مجموعه داده تمرین، در فایل <code>orders.csv</code> ذخیره شده‌است.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("orders.csv")
df

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0
...,...,...,...,...,...,...,...
199995,12172771,4403268,445940,2018-04-03 12:07:01.000,344037.0,تهران,2.0
199996,4425393,3745774,131645,2016-07-09 19:14:09.000,600000.0,محمدیه,1.0
199997,6671889,4845514,215045,2017-03-08 23:47:06.000,450000.0,اصفهان,1.0
199998,6315995,2541418,264021,2017-02-08 14:59:39.000,193486.0,همدان,1.0
199999,7584127,1342585,89427,2017-06-17 10:08:06.000,55046.0,بندر انزلی,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Order               200000 non-null  int64
 1   ID_Customer            200000 non-null  int64
 2   ID_Item                200000 non-null  int64
 3   DateTime_CartFinalize  200000 non-null  object
 4   Amount_Gross_Order     200000 non-null  float64
 5   city_name_fa           200000 non-null  object
 6   Quantity_item          200000 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.7+ MB

In [4]:
df.describe()

,ID_Order,ID_Customer,ID_Item,Amount_Gross_Order,Quantity_item
count,2.000000e+05,2.000000e+05,2.000000e+05,2.000000e+05,200000.000000
mean,9.871963e+06,2.860671e+06,3.757313e+05,1.458204e+06,1.261225
std,6.404275e+06,1.921815e+06,3.948462e+05,5.450972e+06,1.801186
min,1.000411e+06,4.661320e+05,7.600000e+01,0.000000e+00,1.000000
25%,5.022253e+06,1.021053e+06,8.955725e+04,1.212730e+05,1.000000
50%,8.591270e+06,2.895180e+06,2.302210e+05,3.211010e+05,1.000000
75%,1.246037e+07,4.179218e+06,5.192668e+05,1.011032e+06,1.000000
max,2.484656e+07,7.282118e+06,2.093722e+06,1.530000e+09,500.000000

<h2 align=right style="line-height:200%;font-family:vazir;color:#ff1111">
<font face="vazirmatn" color="#ff1111">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
     شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که صلاح می‌دانید، استفاده کنید.
</font>
</p>

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
انتخاب تعداد خوشه‌ها و آموزش مدل
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که ابتدا براساس روش‌هایی که می‌دانید تعداد خوشه‌های مناسب برای این سوال را پیدا کنید و سپس بر اساس آن مدلی آموزش دهید
     
</font>
</p>

In [ ]:
# انتخاب تعداد خوشه‌ها

In [ ]:
# انتخاب تعداد خوشه‌ها

In [ ]:
# خوشه‌بندی نهایی

In [ ]:
# خوشه‌بندی نهایی

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#ff1111">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
    پس از مهندسی ویژگی و مدل‌سازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای هر نمونه، به خوشه آن برساند.
    <br>
    از این مدل برای پیش‌بینی خوشه نمونه‌های موجود در داده <b><i>orders.csv</i></b> استفاده کنید و نتایج را در قالب جدول زیر آماده کنید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Cluster|خوشه منتصب به هر نمونه|
    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>Cluster</i> است و ۲۰۰٬۰۰۰ سطر دارد.
    <br>
    به ازای هر سطر موجود در فایل <i>orders.csv</i> شما باید یک مقدار پیشبینی شده داشته باشید.
</font>
</p>



<p dir=rtl style="direction: rtl; text-align: center; line-height:200%; font-family:vazir; font-size:medium; color:#ff1111">
<font face="vazirmatn" size=4 color:"#ff1111">
    در این تمرین، مجموعه داده‌هایی جداگانه برای آزمون یا آموزش نداریم و شما باید خروجی مدل خود را برای همان مجموعه داده‌ای که در اول تمرین، از فایل بارگذاری کردید، در دیتافریم  ذخیره کنید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    جدول زیر، ۵ سطر ابتدایی دیتافریم  را نشان می‌دهد. البته در جواب شما، اعداد ستون <i>Cluster</i> ممکن است متفاوت باشد.
</font>
</p>


<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    
||Cluster|
|:----:|:-----:|
|0|1|
|1|1|
|2|0|
|3|1|
|4|0|

</font>
</div>

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
    معیار <code>silhouette score</code> را برای ارزیابی کیفیت مدل خود محاسبه کنبد .
    <br>
    
</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazirmatn" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>85</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

In [ ]:
print( 100 * (sil_score + 1 ) / 2 )